<h1>Courts</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Address</th>
      <th>Access</th>
      <th>Tel</th>
      <th>Store email</th>
      <th>Nearest station</th>
      <th>Latitude</th>
      <th>Logitude</th>
      <th>Hours</th>
      <th>Parking</th>
      <th>Url</th>
      <th>Holiday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <td><%= court.store_name %></td>
        <td><%= court.address %></td>
        <td><%= court.access %></td>
        <td><%= court.tel %></td>
        <td><%= court.store_email %></td>
        <td><%= court.nearest_station %></td>
        <td><%= court.latitude %></td>
        <td><%= court.logitude %></td>
        <td><%= court.hours %></td>
        <td><%= court.parking %></td>
        <td><%= court.url %></td>
        <td><%= court.holiday %></td>
        <td><%= link_to 'Show', court %></td>
        <td><%= link_to 'Edit', edit_court_path(court) %></td>
        <td><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Court', new_court_path %>
