<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @plan.user %>
</p>

<p>
  <strong>Court:</strong>
  <%= @plan.court %>
</p>

<p>
  <strong>Max member:</strong>
  <%= @plan.max_member %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @plan.event_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
